/* CSS For Category Pages */
/* CSS Resets */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root {
    --set-01: 5%; 	/* Created mainly to change all margins at once on the category pages. Also works on footer. */
    --set-02: 20px;
}
#main_nav_01 {
    display: block;
    position: relative;
    width: 100%;
    height: 95px;
    background-color:rgb(164, 32, 54);
}
#reynolds_logo {
    display: inline-block;
    position: relative;
    height: 75px;
    margin: 11px 0px 0px 2%;
}
#major_head_bar {
    display: block;
    position: relative;
    width: 100%;
    height: 37px;
    background-color:rgb(80, 80, 80);
}
#major_head_bar p {
    display: block;
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 8px;
}
#major_head_bar .back p {
    display: block;
    position: absolute;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: calc(fit-content + var(--set-01));
    float: left;
    text-align: left;
    top: 9px;
    padding-left: var(--set-01);
}
#main-category-container {
    max-width: 1200px;
    margin: 0px auto 0px auto;
}
#desktop-nav-placeholder {
    display: none;
}

/* Breadcrumb Trail */
ul.breadcrumb-trail {
    padding: 25px var(--set-01) 0px var(--set-01);
    list-style: none;
    /* background-color: #eee; */
  }
  ul.breadcrumb-trail li {
    display: inline;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  ul.breadcrumb-trail li+li:before {
    padding: 8px;
    color: black;
    content: "\003E";
  }
  ul.breadcrumb-trail li a {
    color: #000000;
    text-decoration: none;
  }
  ul.breadcrumb-trail li a:hover {
    color: #000000;
    text-decoration: underline;
  }


.categories-section {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0px var(--set-01) 0px var(--set-01);
}
.categories-section h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}
.section-video {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 30px 0px;
}
.purpose-and-other {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0px var(--set-02) 0px var(--set-02);
}
#main_head_image_01 {
    display: block;
    position: relative;
    max-width: 1200px;
    height: 170px;
    background-image: url("../images/benjamin-wedemeyer-bzzSg8hTKKY-unsplash.jpg");
    background-size: cover;
    background-position: 50% 60%;
    margin: 0px auto 0px auto;
}
.story-image {
    margin: 30px 0px 30px 0px;
}
.ending-content {
    display: block;
    position: relative;
    padding: 35px var(--set-01) 35px var(--set-01);
}
.view-roadmap {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    margin: 20px 0px 40px 0px;
}
.back-to-programs {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-size: 16px;
}
.back-to-programs a {
    color: #000000;
    text-decoration: none;
}
.back-to-programs a:hover {
    text-decoration: underline;
}
.majors-heading {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    color:#000000;
    background-color:white;
    padding: 50px var(--set-01) 5px var(--set-01);
}


/* —————— BOOTSTRAP ACCORDION —————— */
.accordion {
    display: block;
    position: relative;
    max-width: 1200px;
    padding: 0px var(--set-01) 0px var(--set-01);
    margin: 0px auto 0px auto;
}
.accordion-header {
    color: red;
    background-color:rgb(255, 242, 0);
    border-radius: 0px 0px 0px 0px;
    border: none;
}
.accordion-button, .accordion-button:not(.collapsed) {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color:#000000;
    background-color:rgba(242, 242, 242, 1);
    padding: 15px var(--set-02) 20px var(--set-02);
    border-radius: 0px 0px 0px 0px;
    height: 55px;
    z-index: 1;
}
.accordion-button:not(.collapsed)::after {
    filter: brightness(0%);
}
.accordion-button:focus {
    box-shadow: inherit;
}
.accordion-item {
    border: none;
}
.accordion-body {
    padding: 20px 0px 20px 0px;
    border: none;
}

/* —————— CUSTOM ACCORDION —————— */

.course-number {
    display: block;
    position: relative;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}
.course-name {
    display: block;
    position: relative;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}
.course-credits {
    display: block;
    position: relative;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}
.accordion__button {
    display: block;
    width: 100%;
    padding: 15px var(--set-02) 15px var(--set-02);
    border: none;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    text-align: left;
    transition: background 0.2s;
}
.accordion__button:hover { 
    background: rgb(245, 245, 245);
}
.accordion__button::after {
    content: '\25be';
    color: rgb(220, 220, 220);
    float: right;
    transform: scale(1.5);
    margin: -50px 0px 0px 0px;
}
.accordion__button--active + .accordion__content {
    display: block;
}
.accordion__button--active {
    background: rgb(235, 235, 235);
    /* margin: 50px 0px 0px 0px; */
    /* border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200); */
}
.accordion__button--active .course-name {
    font-weight: 700;
    background: rgb(235, 235, 235);
}
.accordion__button--active:hover {
    background: rgb(235, 235, 235);
}
.accordion__button--active::after {
    content: '\25b4';
    color: rgb(0, 0, 0);
}
.accordion__content {
    font-size: 16px;
    /* overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s; */

    padding: 10px var(--set-02) 10px var(--set-02);
    /* margin: 0px 0px 50px 0px; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: rgb(245, 245, 245);
    /* For accordion without transition */
    display: none;
    overflow: auto;
}
.total-credit-hours {
    font-weight: 700;
    padding: 20px var(--set-02) 20px var(--set-02);
}
.total-credit-hours-last {
    font-weight: 700;
    padding: 20px var(--set-02) 0px var(--set-02);
    margin: 0px 0px -37px 0px;
}
.kerning-01 {
    letter-spacing: -.03em;
}
.accordion-body h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color:#000000;
    padding: 20px 0px 0px 0px;
    margin-top: 22px;
    border-radius: 0px 0px 0px 0px;
}
.course-order {
    margin-bottom: 15px;
}

/* —————— FOOTER —————— */
#footer-address-bar {
    display: block;
    position: relative;
    height: 100%;
    background-color:rgb(164, 32, 54);
    padding: 0px var(--set-01) 0px var(--set-01);
}
#footer-copyright-bar {
    display: block;
    position: relative;
    height: 100%;
    background-color:#353535;
    padding: 0px var(--set-01) 1px var(--set-01);
}
#footer-reynolds-logo {
    display: block;
    position: relative;
    max-width: 1200px;
    padding: 50px 0px 25px 0px;
    margin: 0px auto 0px auto;
}
#footer-reynolds-logo img {
    display: block;
    position: relative;
    width: 234px;
    left: -30px;
}
.footer-locations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}
.footer-address {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 255, 255);
    width: fit-content;
}
.address-head {
    font-weight: 900;
    margin: 0px 0px 0px 0px;
}
.map-directions {
    display: block;
    position: relative;
    background-color: #781728;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 255, 255);
    padding: 1px 6px 0px 6px;
    margin: 10px 0px 30px 0px;
}
.map-directions:hover {
    background-color: #000000;
}
#footer-social-logo-group {
    display: block;
    position: relative;
    width: fit-content;
    padding: 25px 0px 15px 0px;
    margin: 0px auto 0px auto;
}
.reynolds-social-logos {
    display: inline-block;
    position: relative;
    width: 28px;
    margin: 0px 2px 0px 2px;
}
#footer-copyright-01 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#footer-copyright-02 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 0px 5px 0px;
}

/* Read More Text Button */
#more {
    display: none;
}
#more-content {
    display: none;
}
#Read-More-Button {
    display: block;
    position: relative;
    background-color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    float: right;
}
#Read-More-Button:hover {
    text-decoration: underline;
}
.story-image-02 {
    margin: 25px 0px 30px 0px;
}



@media screen and (min-width:550px){  

/* —————— CUSTOM ACCORDION —————— */
.course-container {
    display: grid;
    grid-template-columns: 85px 50% auto;
    grid-template-rows: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.course-name {
    float: left;
}
.course-credits {
    grid-column-start: 5;
    margin: 0px 30px 0px 0px;
    text-align: right;
}
.accordion__button::after {
    margin: -25px 0px 0px 0px;
}
}

@media screen and (min-width:768px) { 

/* Header and Navigation Content */
#main_nav_01 {
    height: 118px;
}
#reynolds_logo {
    height: 80px;
    margin: 18px 0px 0px 25px;
}    
#main_head_image_01 {
    height: 250px;
    background-position: 50% 72%;
}
#major_head_bar {
    height: 45px;
}
#major_head_bar p {
    font-size: 24px;
    top: 6px;
}
#major_head_bar .back p {
    font-size: 16px;
    top: 11px;
}

/* Breadcrumb Trail and Main Heading */
ul.breadcrumb-trail li {
    font-size: 14px;
    line-height: 26px;
}
.categories-section header h1 {
    font-size: 32px;
    margin-top: 30px;
}
}



@media screen and (min-width:1025px) {
/* Main Containers for Nav and Content */
    #main-category-container {
    height: 100%;
}
#desktop-nav-placeholder {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 360px;
    background-color:rgb(164, 32, 54);
    border-radius: 0px 0px 25px 25px;
}
#main-category-content {
    display: block;
    position:relative;
    top: 0px;
    width: calc(100% - 300px);
    height: 100%;
    float: right;
}

/* Inline Story Image */
.story-image {
    margin: 30px var(--set-01) 30px var(--set-01);
}

/* —————— FOOTER —————— */
footer {
    display: inline-block;
    position: relative;
    width: 100%;
}
#footer-reynolds-logo img {
    left: -30px;
}
.footer-locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px 0px 0px 0px;
    margin: 0px auto 0px auto;
}
#footer-address-bar {
    display: block;
    position: relative;
    height: 360px;
    background-color:rgb(164, 32, 54);
}
#footer-copyright-01 {
    line-height: 40px;
}
#footer-copyright-02 {
    font-size: 16px;
}
}





/*added by Joelle- required fixes until we merge css*/
.content {
    grid-row: 1 !important;
    margin: 0 !important;
}
.content h3 {
    margin: 0 !important;
}
.content h2 {
    margin: 0 !important;
}
.body-nav {
    grid-row: 1 !important;
}
.page-title {
    background-color: #505050 !important;
    color: white !important;
}
.prev-page {
    color: white !important;
}
