/*
This file contains styling for the School of Business and Industrial Trades 
site under Reynolds Community College
*/

/*------------------------------------*\
  TABLE OF CONTENTS
\*------------------------------------*/

/*
GENERAL -------------------------------------------------------------------

reset defaults --------- change default settings site-wide
variables -------------- global variables - mainly used for colors from brand guide


MOBILE/DEFAULT VIEW -------------------------------------------------------

HEADER ------------------ site-wide header containing two navs
	top nav ------------- contains site-wide secondary menu items and search
	main nav ------------ contains site-wide main menu items

SBIT-GENERAL ------------ elements that appear on all SBIT-specific pages
	body nav ------------ SBIT-specific navigation
	SBIT contact -------- SBIT contact info module
	carousel ------------ bootstrap carousel styling
	main image ---------- static image on pages without a carousel
	content ------------- main page content/text
	breadcrumbs --------- breadcrumb links to previous pages
	link button --------- styling for basic buttons with links used on multiple pages

SBIT-HOMEPAGE ----------- elements specific to SBIT's homepage
	programs ------------ list of programs under SBIT

SBIT-FACULTY ------------ elements specific to SBIT faculty & staff page

SBIT-PROGRAMS ----------- elements related to the various SBIT program pages
	page titles --------- varying colors for different program page titles
	videos/images ------- videos & images within program pages
	read more ----------- read more button displays further content
	career stats -------- career statistics 
	bootstrap accordion-- bootstrap accordion to display majors 
	custom accordion ---- accordion within majors to display course info
	roadmap ------------- linked course roadmap

FOOTER ------------------ site-wide footer


MOBILE - SMALL SCREENS ----------------------------------------------------

#HEADER -----------------

#SBIT-GENERAL ----------- 

#SBIT-HOMEPAGE ----------
	#programs -----------

#SBIT-PROGRAMS ----------
	#bootstrap accordion-


TABLET - MINI SCREENS ----------------------------------------------------- 

$SBIT-GENERAL ----------- 
	$carousel ----------- 
	$main image --------- 

$SBIT-HOMEPAGE ---------- 
	$programs ----------- 

$SBIT-PROGRAMS ---------- 
	$videos/images ------ 

$FOOTER ----------------- 


TABLET - SMALL SCREENS ----------------------------------------------------

%SBIT-GENERAL ----------- 

%SBIT-HOMEPAGE ---------- 
	%programs ----------- 

%SBIT-PROGRAMS ----------
	%videos/images ------
	%custom accordion --- 

%FOOTER ----------------- 


TABLET - LARGE SCREENS ----------------------------------------------------

&SBIT-GENERAL ----------- 
	&body nav -----------
	&carousel -----------
	&main image ---------
	&content ------------

&SBIT-HOMEPAGE ----------
	&programs -----------
	
&SBIT-PROGRAMS ----------
	&videos/images ------


DESKTOP -------------------------------------------------------------------

!HEADER ----------------- 
	!top nav ------------
	!main nav -----------

!SBIT-GENERAL ----------- 
	!carousel -----------
	!main image --------- 

!SBIT-HOMEPAGE ---------- 
	!programs -----------

!FOOTER -----------------


DESKTOP - LARGE -----------------------------------------------------------

+HEADER ----------------- 
	+top nav ------------
	+main nav -----------

*/



/*------------------------------------*\
  #GENERAL
\*------------------------------------*/



/*reset defaults*/

* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: roboto;
	overflow-x: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

sup {
	font-weight: 700;
}

/*variables*/

:root {
	/*primary*/
	--reynoldsred: #a31f36;
	--gray3: #d8d7d6;
	--gray7: #979899;
	/*secondary*/
	--tumeric: #9b8430;
	--emerald: #00943b;
	--ocean: #0062a1;
	--raspberry: #b21f8c;
	--asparagus: #77993d;
	--gray5: #b1b1b1;
	--gray9: #75767a;
	--gray11: #53555a;
	/*accent - light*/
	--lightred: #edc6cd;
	--lighttumeric: #fbd671;
	--lightocean: #96d9e9;
	--lightasparagus: #cade80;
	/*accent - dark*/
	--darkred: #78232e;
	--darktumeric: #624e25;
	--darkocean: #173963;
	--darkasparagus: #536122;
	/*other - not listed in brand guide but used on current site*/
	--tan: #ddd6ad;
	--lighttan: #f1efde;/*note that grays go from lighter to darker in order of number (odd numbers 3-11)*/

	/* Created mainly to change all margins at once on the category pages. Also works on footer. */
	--set-01: 5%;
}



/*------------------------------------*\
  MOBILE/DEFAULT VIEW
\*------------------------------------*/



/*HEADER*/

/*contains grid layout for logo and two navs*/
header {
	align-items: center;
	background-color: var(--reynoldsred);
	border-bottom: 2px solid var(--darkred);
	color: white;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 120px;
    position: relative;
    z-index: 5;
}

.header-cover {
	background-color: var(--reynoldsred);
	position: absolute;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	height: 120px;
}

.logo {
	padding: 22px 20px;
	width: 230px;
}

/*appears on mobile and tablet views + opens nav-container when clicked*/
#hamburger {
	cursor: pointer;
	float: right;
	font-size: 50px;
	margin-right: 20px;
	padding: 20px;
}

/*contains top-nav and main-nav*/
#nav-container {
	display: flex;
	flex-direction: column-reverse;
	grid-column: 1 / span 2;
	grid-row: 2;
	overflow: hidden;
	transition: .5s;
	margin-top: -750px;
	z-index: -1;
}

/*container expands to display navs on hamburger click*/
.nav-container-toggle {
	margin-top: 0 !important;
}

/*line displays between navs on desktop screens*/
#header-line {
	display: none;
}


/*top nav*/

/*appears under main-nav on mobile/tablet*/
#top-nav {
	margin-left: 20px;
    padding: 10px 10px;
    text-align: left;
}

#top-nav li,
#top-nav a {
	color: white;
	cursor: pointer;
	list-style: none;
	padding: 10px 0;
	text-decoration: none;
}

/*search icon size*/
#top-nav .search img {
	height: 17px;
}

/*display 'Search' alongside icon when top-nav is in column format*/
#top-nav .search::before {
	content: 'Search ';
}

/*display '+' next to nav items that contain dropdown*/
#top-nav .top-level span::after {
	content: "+";
	margin-left: 5px;
}

/*'+' displays as '-' when dropdown is open*/
#top-nav .top-level.nav-toggle span::after {
	content: '-';
}

/*hide top-nav dropdowns until opened*/
#top-nav .dropdown {
	display: block;
	max-height: 0;
	overflow: hidden;
	padding-left: 20px;
}

/*dropdown opens on top-level click*/
#top-nav .nav-toggle .dropdown {
	max-height: fit-content;
	padding-top: 15px;
}

/*main nav*/

/*appears above top-nav on mobile/tablet as one column*/
#main-nav {
	background-color: white;
	padding: 10px 15px;
}

#main-nav li {
	color: black;
	cursor: pointer;
	font-size: 1.5em;
	list-style: none;
	padding: 5px 20px;
}

#main-nav a {
	color: black;
	text-decoration: none;
}

/*display '+' next to nav items that contain dropdown*/
#main-nav .top-level span::after {
	content: '+';
	margin-left: 5px;
}

/*'+' displays as '-' when dropdown is open*/
#main-nav .top-level.nav-toggle span::after {
	content: '-';
}

#main-nav .dropdown,
#main-nav .dropdown a {
	color: black;
	font-size: .7em;
	max-height: 0;
	overflow: hidden;
	text-decoration: none;
}

/*dropdown opens on top-level click*/
#main-nav .nav-toggle .dropdown {
	max-height: fit-content;
}



/*SBIT - GENERAL*/

/*title of each SBIT page sticks to top of page when scrolled*/
.page-title {
	background-color: var(--tan);
	box-shadow: 0px 5px 10px #0000002c;
	height: 50px;
	position: sticky;
	top: 0;
	width: 100%;
    z-index: 3;
}

.page-title h1 {
	font-size: 1em;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
}

/*back arrow displays next to title*/
.prev-page:before {
	content: "↩";
}

/*style back arrow*/
.prev-page {
	color: black;
	line-height: 50px;
	padding-left: 10px;
	position: absolute;
	text-decoration: none;
}

.prev-page:hover {
	color: var(--darkred);
	transition: .2s;
}

/*contains all main elements in grid aside from page-title*/
.grid-container {
	display: grid;
	grid-template-columns: 5% 90% 5%;
	margin: 0 auto;
}


/*body nav*/

/*SBIT-specific navigation located to left of content*/
.body-nav {
	background-color: var(--reynoldsred);
	border: 1px solid var(--reynoldsred);
	border-radius: 0 15px 15px 0;
	box-shadow: 2px 5px 10px #0000002c;
	height: fit-content;
	margin-left: -290px;
	padding-bottom: 10px;
	padding-left: 25px;
	position: sticky;
	top: 60px;
	transition: .2s;
	width: 300px;
	z-index: 2;
}

.body-nav li,
.body-nav a {
	cursor: pointer;
	color: white;
	line-height: 2em;
	list-style: none;
	margin-top: 5px;
	text-decoration: none;
	width: 100%;
}

.body-nav li:hover, 
.body-nav a:hover {
	color: black;
	transition: .2s;
}

/*arrow displays on smaller screens and opens body-nav on click*/
.body-nav .arrow {
	border: 1px solid var(--reynoldsred);
	border-radius: 10px;
	box-shadow: none;
	color: white;
	cursor: pointer;
	font-size: 30pt;
	height: 70px;
	margin-left: 260px;
	padding: 0px 5px 8px 10px;
	position: absolute;
	top: 30%;
	width: fit-content;
	z-index: 3;
}

/*arrow styling changes when body-nav is open*/
.arrow-toggle {
	background-color: var(--darkred);
	border: 1px solid var(--darkred) !important;
}

.slide-toggle {
	margin-left: 0px;
	transition: .2s;
}

/*for body navs with 3 links instead of 4*/
.less .arrow {
	top: 22%;
}


/*SBIT contact*/

/*SBIT-specific contact info contained in module that shows on click*/
#sbit-contact {
	background-color: white;
    border: 2px solid var(--reynoldsred);
	bottom: 0;
	box-shadow: 200px 200px 0px 3000px #00000095;
    display: none;
	font-weight: 700;
	height: fit-content;
	left: 0;
	margin: auto;
	max-width: 90%;
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: fit-content;
	z-index: 2;
}

#sbit-contact h3 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 25px;
}

#sbit-contact a {
	color: var(--reynoldsred);
	font-weight: 400;
	text-decoration: none;
}

#sbit-contact a:hover {
	color: var(--darkred);
	transition: .2s;
}

/*display contact info when 'Contact SBIT' is clicked*/
.contact-toggle {
	display: block !important;
}

/*allows user to click the 'x' to stop displaying contact info*/
#sbit-contact .x-out {
	cursor: pointer;
	font-size: 1.4em;
	position: absolute;
	right: 13px;
	top: 5px;
	-webkit-text-stroke: 1px black;
}

#sbit-contact .x-out:hover {
	-webkit-text-stroke: 2px black;
}


/*carousel*/

/*bootstrap carousel element*/
#sbit-carousel {
	display: block;
	grid-column: 1 / span 3;
	grid-row: 1;
}

#sbit-carousel h5 {
	background-color: #a31f36ba;
	font-size: 1em;
	font-weight: 400;
	padding: 5px;
}

/*carousel slide sizing*/
#sbit-carousel .slide {
	height: 200px;
	object-fit: cover;
	width: 100%;
}

/*change caption positioning*/
.carousel-caption {
	bottom: -10px;
	left: 0;
	right: 0;
}

/*fade transition between slides*/
.carousel-fade .carousel-item {
	display: block;
	transition: opacity ease-out .8s;
}

/*continue showing previous slide until new one fades into place*/
.carousel-fade .carousel-item.active {
	opacity: 1;
}


/*main image*/

/*replaces carousel on pages with one static image*/
#sbit-main-image {
	grid-column: 1 / span 3;
	grid-row: 1;
}

/*match sizing to carousel*/
#sbit-main-image img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

/*for images on career outlook pages*/
#sbit-main-image .main_head_image_01 {
    display: block;
    position: relative;
    max-width: 1200px;
    height: 225px;
    background-size: cover;
    margin: 0px auto 0px auto;
}

.main_head_image_01_welding {
    background-image: url("../images/benjamin-wedemeyer-bzzSg8hTKKY-unsplash.jpg");
    background-position: 50% 60%;
}

.main_head_image_01_automotive {
    background-image: url("../images/kato-blackmore-qcF-19BvViE-unsplash.jpg");
    background-position: 50% 40%;
}

.main_head_image_01_paralegal {
    background-image: url("../images/tingey-injury-law-firm-DZpc4UY8ZtY-unsplash.jpg");
    background-position: 50% 40%;
}

.main_head_image_01_diesel {
    background-image: url("../images/pexels-kelly-4320464.jpg");
    background-position: 50% 40%;
}

.main_head_image_01_admin_justice {
    background-image: url("../images/pexels-joshua-santos-4581213.jpg");
    background-position: 50% 40%;
}

.main_head_image_01_admin_justice_outlook {
    background-image: url("../images/pexels-joshua-santos-4581211.jpg");
    background-position: 50% 40%;
}

.main_head_image_01_automotive_outlook {
    background-image: url("../images/tim-mossholder-OwBRQ0bykX8-unsplash.jpg");
    background-position: 50% 45%;
}

.main_head_image_01_diesel_outlook {
    background-image: url("../images/pexels-pixabay-279949.jpg");
    background-position: 50% 45%;
}

.main_head_image_01_welding_outlook {
    background-image: url("../images/christopher-burns-Wiu3w-99tNg-unsplash.jpg");
    background-position: 50% 80%;
}

.main_head_image_01_culinary_outlook {
    background-image: url("../images/pexels-alex-green-5692293.jpg");
    background-position: 50% 80%;
}

.main_head_image_01_paralegal_outlook {
    background-image: url("../images/pexels-sora-shimazaki-5673492.jpg");
    background-position: 50% 80%;
}

.main_head_image_01_business_outlook {
    background-image: url("../images/pexels-michaal-ludwiczak-1239162.jpg");
    background-position: 50% 63%;
}

.main_head_image_01_management_outlook {
    background-image: url("../images/pexels-kampus-production-8190804.jpg");
    background-position: 50% 35%;
}

.main_head_image_01_accounting_outlook {
    background-image: url("../images/pexels-tima-miroshnichenko-6694543.jpg");
    background-position: 50% 50%;
}


/*content*/

/*main page content located under carousel/to right of body-nav*/
.content {
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
	margin: 15px 15px 0 15px;
}

.content h2 {
	font-size: 18pt;
	font-weight: 700;
	margin: 35px 0px 15px 0px;
}

.content h3 {
	font-size: 15pt;
	font-weight: 700;
	margin: 25px 0px 15px 0px;
}

.content p {
    line-height: 28px;
	text-align: left;
}

.content p a {
	color: var(--darkred);
	text-decoration: underline #00000000;
	text-underline-offset: 2.5px;
}

.content p a:hover {
	text-decoration: underline var(--darkred);
	transition: .2s;
}

.content .gray-bg {
	background-color: var(--gray3);
	padding: 20px;
}

.content .gray-bg .stats {
	display: inline-block;
	margin-bottom: 10px;
}


/*breadcrumbs*/

.breadcrumbs li {
	display: inline-block; /*keep each list item's text on one line*/
	font-size: 11pt;
	list-style: none;
}

.breadcrumbs a {
	color: var(--darkred);
	text-decoration: underline #00000000;
	text-underline-offset: 2.5px;
}

.breadcrumbs a:hover {
	text-decoration: underline var(--darkred);
	transition: .2s;
}

/*display arrow leading to next list item until last item*/
.breadcrumbs :not(:last-child):after {
	content: ">";
	padding: 5px;
}


/*link button*/

/*button that links to various other site pages*/
.link-button {
	background-color: var(--reynoldsred);
	border: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 40px;
	width: fit-content;
}

/*link styling*/
.link-button a {
	color: white;
	display: block;
	text-decoration: none;
	padding: 12px 25px;
}

/*change on hover*/
.link-button:hover {
	background-color: var(--darkred);
	transition: .2s;
}



/*SBIT-HOMEPAGE*/


/*programs*/

/*display list of SBIT's programs in columns*/
#programs {
	display: grid;
	gap: 40px 0px;
	grid-template-columns: 50% 50%;
	margin-bottom: 50px;
	max-width: 400px;
	padding-top: 15px;
	place-items: center;
}

#programs button {
	height: 30vw;
	min-height: 120px;
	min-width: 120px;
	width: 30vw;
}

/*links to javascript array with differing background images on each item*/
.sbit-program {
	background-size: cover;
	color: white;
}

.sbit-program:hover {
	background-blend-mode: multiply;
	background-color: var(--gray11);
	transition: .2s;
}

.program-title {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: center;
	opacity: .9;
}



/*SBIT-FACULTY*/


/*position faculty/staff images*/
.faculty-image {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 200px;
}

.faculty-name {
	text-align: center;
}

.faculty-title-contact {
	text-align: center !important; /*override default paragraph alignment*/
}

.faculty-title-contact a {
	color: var(--reynoldsred);
	text-decoration: none;
}

.faculty-title-contact a:hover {
	color: var(--darkred);
	transition: .2s;
}

.faculty-blurb {
	border: 1px solid var(--reynoldsred);
	margin: 10px 10px 30px 10px !important;
	padding: 20px 30px;
}



/*SBIT-PROGRAMS*/


/*page titles*/

/*additional page-title styling for each program group - different colors for each*/
.emerald {
	background-color: var(--emerald);
	color: white;
}

.raspberry {
	background-color: var(--raspberry);
	color: white;
}

.ocean {
	background-color: var(--ocean);
	color: white;
}

.gray {
	background-color: var(--gray11);
	color: white;
}

.emerald a:hover,
.raspberry a:hover,
.ocean a:hover,
.gray a:hover {
	color: black;
}


/*vidoes/images*/

/*program page videos*/
.section-video {
    margin: 20px 0px 30px 0px;
    width: 100%;
}

/*program page images*/
.story-image {
	height: 250px;
	margin: 20px -12% 30px -12%;
	object-fit: cover;
	width: 124%;
}


/*read more*/

#more {
    display: none;
}

#more-content {
    display: none;
}

#read-more-button {
    background-color: #ffffff;
	display: block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
	margin: 10px 0px 30px auto;
}

#read-more-button:hover {
    text-decoration: underline;
}


/*career stats*/

.career-statistics {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 25px 20px 7px 20px;
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    line-height: 28px;
    /* color:rgb(128, 128, 128); */
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
}

.career-statistics p span {
    font-weight: 700;
    color:#000000;
}

.career-statistics p {
    text-align: center;
}

.career_outlook_main_heading {
	padding-top: 20px;
}

.source {
    font-size: 12px;
    line-height: 20px;
}

.break {
    display: none;
}


/*bootstrap accordion*/

.accordion {
    display: block;
    position: relative;
    width: 100%;
}

.accordion-button, 
.accordion-button:not(.collapsed) {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color:#000000;
    background-color:rgba(242, 242, 242, 1);
    border-radius: 0px 0px 0px 0px;
    height: fit-content;
    z-index: 1 !important;
}

.accordion h2 {
	margin: 0;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-item {
    border: none;
}

.accordion-body {
	padding: 20px 0px 0px 0px;
	border: none;
}

.accordion-body hr {
	margin-top: 0px;
}

.accordion-body ul {
	padding-left: 30px;
}

.purpose-and-other {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 20px;
}


/*custom accordion*/

.course-number {
    display: block;
    position: relative;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}

.course-name {
    display: block;
    position: relative;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}

.course-credits {
    display: block;
    position: relative;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}

.accordion__button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    text-align: left;
	line-height: 30px;
    transition: background 0.2s;
}

.accordion__button:hover { 
    background: rgb(245, 245, 245);
}

.accordion__button::after {
    content: '\25be';
    color: rgb(220, 220, 220);
    float: right;
    transform: scale(1.5);
    margin: -62px 0px 0px 0px;
}

.accordion__button--active + .accordion__content {
    display: block;
}

.accordion__button--active {
    background: rgb(235, 235, 235);
    /* margin: 50px 0px 0px 0px; */
    /* border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200); */
}

.accordion__button--active .course-name {
    font-weight: 700;
    background: rgb(235, 235, 235);
}

.accordion__button--active:hover {
    background: rgb(235, 235, 235);
}

.accordion__button--active::after {
    content: '\25b4';
    color: rgb(0, 0, 0);
}

.accordion__content {
    font-size: 16px;
    /* overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s; */
    padding: 10px 20px;
    /* margin: 0px 0px 50px 0px; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: rgb(245, 245, 245);
    /* For accordion without transition */
    display: none;
    overflow: auto;
}

.total-credit-hours {
	display: block;
    font-weight: 700;
    padding: 10px 20px 20px 20px;
}

.kerning-01 {
    letter-spacing: -.03em;
}

.accordion-body h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color:#000000;
    padding: 20px 0px 0px 0px;
    margin-top: 22px;
    border-radius: 0px 0px 0px 0px;
}

.course-order {
    margin-bottom: 15px;
}

.course-order span a {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.course-order span a:hover {
    font-weight: 700;
    color: #000000;
    text-decoration:underline;
}

.option {
	display: block;
	font-weight: 700;
	padding: 10px 20px;
}


/*roadmap*/

/*roadmap link*/
.roadmap {
	color: var(--reynoldsred);
	display: block;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
	transition: .2s;
    margin: 20px 0px;
	width: fit-content;
}

.roadmap:hover {
	color: var(--darkred);
    text-decoration: underline;
}

/*download roadmaps button*/
.btn {
    background-color: rgb(164, 32, 54);
    border: none;
    border-radius: 0px;
    margin: 15px 0px -2px 0px;
}

.btn:hover  {
    background-color: rgb(106, 21, 35);
    border: none;
}

.btn:active, .btn-secondary:active, .dropdown-toggle:active,
.btn:focus, .btn-secondary:focus, .dropdown-toggle:focus {
    background-color: rgb(106, 21, 35);
    border: none;
    outline: none;
}

.dropdown-menu {
    border-radius: 0px;
    background-color: rgb(245, 245, 245);
    border: none;
    box-shadow: 15px 15px 15px rgba(0,0,0,.2);
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-menu li a {
    line-height: 24px;
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu li a:hover {
    background-color: rgb(225, 225, 225);
}

.dropdown-menu li a:active {
    background-color: #808080;
}

.dropdown-menu li:active {
    background-color: rgb(106, 21, 35);
}



/*FOOTER*/

footer {
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.footer-addresses-band {
    background-color: rgb(164, 32, 54);
    padding: 0px 5% 50px 5%;
}

.footer-copyright-band {
    background-color: rgb(106, 21, 35);
    width: 100%;
    padding: 0px 5% 10px 5%;
}

#footer-social-logo-group {
    display: block;
    position: relative;
    width: fit-content;
    padding: 25px 0px 10px 0px;
    margin: 0px auto 0px auto;
}

.reynolds-social-logos {
    display: inline-block;
    position: relative;
    width: 28px;
    margin: 0px 5px 0px 5px;
}

#footer-copyright-01 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 3px 0px;
    margin: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 1);
}

#footer-copyright-02 {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

#footer-copyright-02 a {
    color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

#footer-copyright-02 a:hover {
    color: rgba(255, 255, 255, 1);
	text-decoration: underline;
}

.footer-address {
    line-height: 10px;
    text-align: center;
    width: fit-content;
    margin: 0px auto 0px auto;
}

.address-head {
    font-size: 18px;
    font-weight: 700;
}

.map-directions {
    display: block;
    position: relative;
    background-color: #781728;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 255, 255);
    padding: 1px 6px 0px 6px;
    margin: 10px auto 30px auto;
}

.map-directions:hover {
    background-color: #000000;
}

.footer-locations {
    position: relative;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    /* max-width: 1200px; */
    top: 25px;
    margin: 0px auto 0px auto;
}

#footer-reynolds-logo img {
    display: block;
    position: relative;
    left: -2%;
    width: 250px;
    padding: 35px 0px 25px 0px;
    margin: 0px auto 0px auto;
}



/*------------------------------------*\
  MOBILE - SMALL SCREENS
\*------------------------------------*/



@media (max-width: 350px) {
    
	/*#HEADER*/

	.logo {
		padding: 22px 0 22px 20px;
		width: 210px;
	}

	#hamburger {
		padding: 20px 0px;
	}


	
	/*#SBIT-GENERAL*/

	/*remove back arrow next to title on screens where it's too crowded*/
	.prev-page {
		display: none;
	}



	/*#SBIT-HOMEPAGE*/

	/*#programs*/

	/*change space between program buttons*/
	#programs {
		gap: 20px 0px;
		max-width: 280px;
	}



	/*#SBIT-PROGRAMS*/

	/*#bootstrap accordion*/

	.accordion-button, 
	.accordion-button:not(.collapsed) {
		font-size: 17px;
	}

}



/*------------------------------------*\
  TABLET - MINI SCREENS
\*------------------------------------*/



@media (min-width: 500px) {
    
	/*$SBIT-GENERAL*/

	/*$carousel*/

	/*change carousel height*/
	#sbit-carousel .slide {
		height: 250px;
	}
	

	/*$main image*/

	/*match sizing to carousel*/
	#sbit-main-image img {
		height: 250px;
	}
	


	/*$SBIT-HOMEPAGE*/

	/*$programs*/

	/*change spacing between program buttons and increase column count*/
	#programs {
		gap: 20px 0px;
		grid-template-columns: 33% 33% 33%;
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: 600px;
	}

	/*change program button size*/
	#programs button {
		height: 25vw;
		width: 25vw;
	}

	
	
	/*$SBIT-PROGRAMS*/

	/*$videos/images*/

	.story-image {
		height: 275px;
	}



	/*$FOOTER*/

	#footer-reynolds-logo img {
		left: 0%;
	}

	.footer-locations {
		display: grid;
		gap: 15px;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		margin: 0px auto 0px auto;
	}

	.footer-address {
		text-align: left;
		margin: 0px 0px 0px 0px;
		width: 250px;
	}

	.map-directions {
		margin: 10px 0px 30px 0px;
	}	  
}



/*------------------------------------*\
  TABLET - SMALL SCREENS
\*------------------------------------*/



@media (min-width: 730px) {

    /*%SBIT-GENERAL*/

	/*increase title size*/
	.page-title h1 {
		font-size: 1.3em;
	}

	/*increase prev button size*/
	.prev-page {
		font-size: 1.3em;
		margin-left: 20px;
	}



	/*%SBIT-HOMEPAGE*/

	/*%programs*/
	#programs button {
		height: 20vw;
		width: 20vw;
	}

	

	/*%SBIT-PROGRAMS*/

	/*%videos/images*/

	.story-image {
		height: 325px;
	}

}



/*------------------------------------*\
  TABLET - LARGE SCREENS
\*------------------------------------*/



@media (min-width: 800px) {
    
    /*&SBIT-GENERAL*/

	.page-title h1 {
		font-size: 1.3em;
	}
	
	.prev-page {
		font-size: 1.3em;
		margin-left: 20px;
	}
	
	/*switch to 4 column layout*/
	.grid-container {
		display: grid;
		grid-template-columns: 5% 20% 70% 5%;
		margin: 0 auto;
		max-width: 1200px;
	}


	/*&body nav*/

	/*change body nav to full display next to content  - no longer toggles*/
	.body-nav {
		background-color: #ffffff00;
		border: none;
		box-shadow: none;
		grid-column: 2;
		grid-row: 2;
		margin: 25px 0px;
		padding-left: 0px;
		position: sticky;
		top: 60px;
		width: 100%;
	}
	
	.body-nav a,
	.body-nav li:last-child {
		background-color: var(--reynoldsred);
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
		padding: 8px;
		width: 100%;
	}

	.body-nav a:hover,
	.body-nav li:hover {
		background-color: var(--darkred);
		color: white;
		transition: .2s;
	}

	/*remove arrow that activates toggle on smaller screens*/
	.body-nav .arrow {
		display: none;
	}


	/*&carousel*/

	/*extend carousel across new grid*/
	#sbit-carousel {
		grid-column: 1 / span 4;
	}


	/*&main image*/

	/*extend image across new grid*/
	#sbit-main-image {
		grid-column: 1 / span 4;
	}

	/*adjust image positioning*/
	#sbit-main-image img {
		object-position: 0px -130px;
	}

	#sbit-main-image .main_head_image_01 {
		height: 320px;
	}

	.main_head_image_01_automotive {
		background-position: 50% 40%;
	}

	.main_head_image_01_welding {
		background-position: 50% 65%;
	}

	.main_head_image_01_paralegal {
		background-position: 50% 30%;
	}

	.main_head_image_01_diesel {
		background-position: 50% 70%;
	}
	
	.main_head_image_01_admin_justice {
		background-position: 50% 35%;
	}
	
	.main_head_image_01_admin_justice_outlook {
		background-position: 50% 35%;
	}
	
	.main_head_image_01_automotive_outlook {
		background-position: 50% 45%;
	}
	
	.main_head_image_01_diesel_outlook {
		background-position: 50% 55%;
	}
	
	.main_head_image_01_welding_outlook {
		background-position: 50% 85%;
	}

	.main_head_image_01_culinary_outlook {
		background-position: 50% 70%;
	}

	.main_head_image_01_paralegal_outlook {
		background-position: 50% 55%;
	}

	.main_head_image_01_business_outlook {
		background-position: 50% 63%;
	}

	.main_head_image_01_management_outlook {
		background-position: 50% 35%;
	}

	.main_head_image_01_accounting_outlook {
		background-position: 50% 50%;
	}
	

	/*&content*/

	.content {
		grid-column: 3;
		margin: 20px 0px 0px 40px;
	}



	/*&SBIT-HOMEPAGE*/


	/*&programs*/

	#programs {
		grid-template-columns: 33% 33% 33%;
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: 600px;
	}

	#programs button {
		height: 150px;
		width: 150px;
	}



	/*%SBIT-PROGRAMS*/


	/*%videos/images*/

	.story-image {
		height: 30vw;
		margin: 20px 0 30px 0;
		max-height: 450px;
		width: 100%;
	}


	/*%custom accordion*/

	.course-container {
		display: grid;
		grid-template-columns: 85px 50% auto;
		grid-template-rows: 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	.accordion__button::after {
		margin: -31px 0px 0px 0px;
	}



	/*%FOOTER*/

	.footer-locations {
		display: grid;
		gap: 25px;
		grid-template-columns: repeat(3, 1fr);
		margin: 0px auto 0px auto;
		width: 90%;
	}

	.footer-address {
		width: fit-content;
	}

	.footer-address:nth-child(4) {
		text-align: left;
		grid-column-start: 2;
	} 	
}



/*------------------------------------*\
  DESKTOP
\*------------------------------------*/




@media (min-width: 1025px) {
    
	/*!HEADER*/

	/*adjust grid sizing*/
	header {
		grid-template-columns: 200px 1fr;
	}

	.header-cover {
		background-color: transparent;
		pointer-events: none;
	}

	/*resize logo*/
	.logo {
		box-sizing: content-box;
		width: 200px;
	}

	/*remove hamburger icon*/
	#hamburger {
		display: none;
	}

	/*reposition container*/
	#nav-container {
		display: grid;
		grid-column: 2;
		grid-row: 1;
		height: 100%;
		margin-top: 0;
		max-height: fit-content;
	}

	/*display line between top and main nav*/
	#header-line {
		align-self: start;
		display: block;
		grid-row: 2;
		margin-left: 15%;
		margin-top: 10px;
		opacity: 1;
	}


	/*!top nav*/

	/*change positioning*/
	#top-nav {
		padding: 10px 15px 0 0;
		text-align: right;
	}

	#top-nav ul {
		font-size: 0; /*removes whitespace around list items*/
	}

	/*add vertical lines between nav items*/
	#top-nav li.top-level:not(:last-child):after {
		color: white;
		content: "|";
		padding-left: 8px;
		padding-right: 8px;
	}

	#top-nav a,
	#top-nav li {
		color: white;
		cursor: pointer;
		font-size: 1.2vw;
		text-decoration: none;
		transition: .2s;
	}

	#top-nav a:hover,
	#top-nav li:hover {
		color: #ffffffc1;
	}

	/*remove 'search' next to search icon*/
	#top-nav .search::before {
		content: '';
	}

	#top-nav .top-level {
		display: inline-block;
		padding: 0 0 5px 0;
	}

	#top-nav .dropdown {
		background-color: white;
		display: none;
        margin-left: -5px;
		max-height: fit-content;
        padding: 5px 20px 5px 10px;
		position: absolute;
		text-align: left;
        margin-top: 5px;
	}

	#top-nav .dropdown a,
	#top-nav .dropdown li {
		color: black;
        font-size: 14px;
        padding: 5px;
	}

	#top-nav .dropdown a:hover {
        color: var(--reynoldsred);
        transition: .2s;
    }
	
	/*display dropdown on hover*/
	#top-nav .top-level:hover .dropdown {
		display: block;
	}

	/*remove '+' next to items with dropdowns*/
	#top-nav li.top-level span::after {
		content: "";
		margin-left: -3px;
	}

	#top-nav .top-level.nav-toggle span::after {
		content: '';
	}

	#top-nav .nav-toggle .dropdown {
		padding-top: 5px;
	}


	/*!main nav*/

	#main-nav {
		background-color: #ffffff00;
		padding: 0px;
		text-align: right;
		margin-right: 10px;
	}

    #main-nav ul {
		display: inline;
	}

	#main-nav li {
		color: white;
		display: inline;
		font-size: 1.4vw;
		padding: 5px 0 15px 4px;
	}

	/*add white space on last list item (other list items have default white space)*/
	#main-nav li:last-of-type {
		padding-right: 4px;
	}

	#main-nav a {
		color: white;
		padding: 0 5px;
	}

	#main-nav a:active {
		pointer-events: none; /*prevent snapping to top if main link is clicked on desktop*/
	}

	#main-nav li:hover {
		background-color: white;
		border: 0;
		border-radius: 10px 10px 0 0;
	}

	#main-nav li:hover span a {
		color: black;
	}

	#main-nav .dropdown a {
		pointer-events: auto; /*allow links to work within dropdowns*/
	}

	/*remove '+' symbol after menu items*/
	#main-nav .top-level span::after {
		content: '';
		margin-left: 0px;
	}
	
	#main-nav .top-level.nav-toggle span::after {
		content: '';
	}
	
	/*change dropdown to display in columns (mega menu) and hide until hovered*/
	#main-nav .dropdown {
        background-color: white;
        box-shadow: 0px 3000px 0px 3000px #0000005b;
        column-count: 3;
		column-width: 240px;
		display: none;
        left: 0;
		max-height: fit-content;
        margin-top: 7px;
        padding: 15px 0px 15px 250px;
		position: absolute;
		text-align: left;
        width: 100%;
	}

	/*position dropdown items as lists within columns*/
    #main-nav .dropdown li {
        display: list-item;
		font-size: 16pt;
        padding: 0px;
		margin: 0px;
	}

    #main-nav .dropdown a:hover {
        color: var(--reynoldsred);
        transition: .2s;
    }

	/*display dropdown on hover*/
    #main-nav .top-level:hover .dropdown {
		display: block;
	}


    /*!SBIT-GENERAL*/

	/*!carousel*/

	/*increase carousel size*/
	#sbit-carousel .slide {
		height: 320px;
	}
	
	
	/*!main image*/

	/*increase main image size*/
	#sbit-main-image img {
		height: 320px;
	}



	/*!SBIT-HOMEPAGE*/


	/*!programs*/

	/*increase button size*/
	#programs button {
		height: 170px;
		width: 170px;
	}

	/*!FOOTER*/

	footer {
		display: inline-block;
		width: 100%;
	}	

	.footer-locations {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		/* gap: 25px; */
		/* grid-template-columns: repeat(4, 1fr); */
		/* grid-template-columns: minmax(0, 200px) minmax(0, 200px) minmax(0, 200px) minmax(0, 225px); */
		left: 0%;
		max-width: 1200px;
		margin: 0px auto 0px auto;
	}

	#footer-address-bar {
		height: 360px;
	}

	#footer-copyright-01 {
		line-height: 40px;
	}

	#footer-copyright-02 {
		font-size: 16px;
	}
}



/*------------------------------------*\
  DESKTOP - LARGE
\*------------------------------------*/



@media (min-width: 1400px) {

	/*+HEADER*/

	/*+top nav*/

	/*max font size*/
	#top-nav a,
	#top-nav li {
		font-size: 12pt;
	}


	/*+main nav*/

	/*max font size*/
	#main-nav li {
		font-size: 15.5pt;
	}
}