/*reset defaults*/
* {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
/*colors - from brand guide*/
:root {
    /*primary*/
    --reynoldsred: #a31f36;
    --gray3: #d8d7d6;
    --gray7: #979899;
    /*secondary*/
    --tumeric: #9b8430;
    --emerald: #00943b;
    --ocean: #0062a1;
    --raspberry: #b21f8c;
    --asparagus: #77993d;
    --gray5: #b1b1b1;
    --gray9: #75767a;
    --gray11: #53555a;
    /*accent - light*/
    --lightred: #edc6cd;
    --lighttumeric: #fbd671;
    --lightocean: #96d9e9;
    --lightasparagus: #cade80;
    /*accent - dark*/
    --darkred: #78232e;
    --darktumeric: #624e25;
    --darkocean: #173963;
    --darkasparagus: #536122;
    /*other - not listed in brand guide but used on current site*/
    --tan: #ddd6ad;
    --lighttan: #f1efde;
    /*note that grays go from lighter to darker in order of number (odd numbers 3-11)*/
}
body {
    font-family: roboto;
}
/*mobile view*/
/*header contains grid layout for logo and two navs*/
header {
	align-items: center;
	background-color: var(--reynoldsred);
	color: white;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 120px;
    position: relative;
    z-index: 5;
}
.logo {
	grid-column: 1;
	grid-row: 1;
	padding: 15px 20px;
	width: 230px;
}
#hamburger {
	cursor: pointer;
	font-size: 50px;
	grid-column: 2;
	grid-row: 1;
	justify-self: end;
	margin-right: 20px;
	padding: 20px;
}
#megaNav {
	display: flex;
	flex-direction: column-reverse;
	grid-column: 1 / span 2;
	grid-row: 2;
	max-height: 0px;
	overflow: hidden;
}
.megaNavToggle {
	max-height: fit-content !important;
}
#header-line {
	display: none;
}
#topMenu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    padding: 10px 10px;
    text-align: left;
}
#topMenu li {
	cursor: pointer;
	list-style: none;
	padding: 10px;
}
#topMenu a {
	color: white;
	text-decoration: none;
}
#topMenu .dropdown {
	background-color: none;
	display: block;
	max-height: 0;
	overflow: hidden;
}
#topMenu .menuToggle .dropdown {
	max-height: fit-content;
}
#topMenu li.topLevel span::after {
	content: "+";
	margin-left: 5px;
}
#topMenu .menuToggle .topLevel span::after {
	content: '-';
}
#mainMenu {
	background-color: white;
	padding: 10px 15px;
}
#mainMenu li {
	color: black;
	cursor: pointer;
	list-style: none;
	padding: 5px 20px;
}
#mainMenu .topLevel span {
	font-size: 1.5em;
}
#mainMenu .topLevel span::after {
	content: '+';
	margin-left: 5px;
}
#mainMenu .menuToggle .topLevel span::after {
	content: '-';
}
#mainMenu .dropdown {
	max-height: 0;
	overflow: hidden;
	transition: .3s;
}
#mainMenu .dropdown a {
	color: black;
	font-size: 1.3em;
	text-decoration: none;
}
#mainMenu .menuContainer.menuToggle .dropdown {
	max-height: fit-content;
}
/*SBIT homepage*/
.page-title {
	background-color: var(--tan);
	box-shadow: 0px 5px 10px #0000002c;
	height: 50px;
	position: sticky;
	top: 0;
	width: 100%;
    z-index: 3;
}
.page-title h1 {
	font-size: 1em;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
}
.previous-page {
	color: black;
	line-height: 50px;
	padding-left: 10px;
	position: absolute;
	text-decoration: none;
}
.previous-page:hover {
	color: var(--darkred);
	transition: .2s;
}
.grid-container {
	display: grid;
	grid-template-columns: 5% 90% 5%;
	margin: 0 auto;
}
.bodyMenu {
	background-color: var(--reynoldsred);
	border: 1px solid var(--reynoldsred);
	border-radius: 0 15px 15px 0;
	box-shadow: 2px 5px 10px #0000002c;
	color: white;
	height: fit-content;
	margin-left: -290px;
	position: sticky;
	top: 60px;
	transition: .2s;
	width: 300px;
	z-index: 2;
}
.bodyMenu ul {
	line-height: 2em;
	list-style: none;
	padding-bottom: 10px;
	padding-left: 25px;
	width: 300px;
}
.bodyMenu .arrow {
	border: 1px solid var(--reynoldsred);
	border-radius: 10px;
	box-shadow: none;
	cursor: pointer;
	font-size: 30pt;
	height: 70px;
	margin-left: 285px;
	padding: 0px 5px 8px 10px;
	position: absolute;
	top: 30%;
	width: fit-content;
	z-index: 3;
}
.bodyMenu li {
	cursor: pointer;
	margin-top: 5px;
	width: fit-content;
}
.bodyMenu a {
	color: white;
	text-decoration: none;
}
.bodyMenu li:hover, .bodyMenu a:hover {
	color: black;
	transition: .2s;
}
.arrowToggle {
	background-color: var(--darkred);
	border: 1px solid var(--darkred) !important;
}
.slideToggle {
	margin-left: 0px;
	transition: .2s;
}
#sbitContact {
	background-color: white;
    border: 2px solid var(--reynoldsred);
	bottom: 0;
	box-shadow: 200px 200px 0px 800px #00000095;
    display: none;
	height: fit-content;
	left: 0;
	margin: auto;
	max-width: 90%;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
	width: fit-content;
	z-index: 2;
}
#sbitContact h3 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 25px;
	text-align: center;
}
#sbitContact .xOut {
	cursor: pointer;
	font-size: 1.4em;
	position: absolute;
	right: 13px;
	top: 5px;
	-webkit-text-stroke: 1px black;
}
#sbitContact .xOut:hover {
	-webkit-text-stroke: 2px black;
}
.contactToggle {
	display: block !important;
}
#sbit-carousel {
	display: block;
	grid-column: 1 / span 3;
	grid-row: 1;
}
#sbit-carousel .slide {
	height: 200px;
	object-fit: cover;
	width: 100%;
}
.carousel-caption {
	bottom: -10px;
	left: 0;
	right: 0;
}
.carousel-fade .carousel-item {
	display: block;
	transition: opacity ease-out .8s;
}
.carousel-fade .carousel-item.active {
	opacity: 1;
}
#sbit-carousel h5 {
	background-color: #a31f36ba;
	font-size: 1em;
	font-weight: 400;
	padding: 5px;
}
.content {
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
	margin-left: 20px;
	margin-top: 5px;
}
.content p {
	text-align: justify;
}
ul.breadcrumbs li {
	display: inline-block;
	font-size: 10pt;
	list-style: none;
}
ul.breadcrumbs a {
	color: var(--darkred);
	text-decoration: underline #00000000;
	text-underline-offset: 2.5px;
}
ul.breadcrumbs a:hover {
	text-decoration: underline var(--darkred);
	transition: .2s;
}
ul.breadcrumbs :not(:last-child):after {
	content: ">";
	padding: 5px;
}
.content h2 {
	font-size: 17pt;
	margin: 25px 0px;
}
#programs {
	display: grid;
	gap: 40px 0px;
	grid-template-columns: 50% 50%;
	margin-bottom: 50px;
	max-width: 400px;
	place-items: center;
}
#programs button {
	height: 30vw;
	min-height: 120px;
	min-width: 120px;
	width: 30vw;
}
.sbitProgram {
	background-size: cover;
	color: white;
}
.sbitProgram:hover {
	background-blend-mode: multiply;
	background-color: var(--gray11);
	transition: .2s;
}
.programTitle {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: center;
	opacity: .9;
}
/*footer*/
footer {
	background-color: var(--darkred);
	height: 500px;
	width: 100%;
}
/*small phone screens*/
@media (max-width: 350px) {
    /*SBIT homepage*/
	.previous-page {
		display: none;
	}
	.content {
		margin-left: 15px;
	}
	#programs {
		gap: 20px 0px;
		max-width: 280px;
	}
}
/*mini tablet*/
@media (min-width: 500px) {
    /*SBIT homepage*/
	#programs {
		gap: 20px 0px;
		grid-template-columns: 33% 33% 33%;
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: 600px;
	}
	#programs button {
		height: 25vw;
		width: 25vw;
	}
	#sbit-carousel .slide {
		height: 250px;
	}
}
/*small tablet*/
@media (min-width: 730px) {
    /*header and navigation*/
	#topMenu {
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: auto auto auto;
	}
    /*SBIT homepage*/
	.page-title h1 {
		font-size: 1.3em;
	}
	.previous-page {
		font-size: 1.3em;
		margin-left: 20px;
	}
	#programs button {
		height: 20vw;
		width: 20vw;
	}
}
    /*large tablet*/
@media (min-width: 800px) {
    /*header and navigation*/
	#topMenu {
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: auto auto auto;
		margin-left: 30px;
	}
    /*SBIT homepage*/
	.page-title h1 {
		font-size: 1.3em;
	}
	.previous-page {
		font-size: 1.3em;
		margin-left: 20px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 5% 20% 70% 5%;
		margin: 0 auto;
		max-width: 1200px;
	}
	.bodyMenu {
		background-color: #ffffff00;
		border: none;
		box-shadow: none;
		grid-column: 2;
		grid-row: 2;
		height: fit-content;
		margin-left: 0px;
		position: sticky;
		top: 60px;
		transition: .2s;
		width: 100%;
		z-index: 2;
	}
	.bodyMenu ul {
		border: 0px;
		box-shadow: none;
		font-size: 1em;
		height: fit-content;
		line-height: 2em;
		margin-left: 0;
		margin-top: 25px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
	}
	.bodyMenu .arrow {
		display: none;
	}
	.bodyMenu li {
		width: 100%;
	}
	.bodyMenu a {
		align-items: center;
		background-color: var(--reynoldsred);
		color: white;
		display: flex;
		justify-content: center;
		list-style: none;
		margin-bottom: 25px;
		padding: 8px;
	}
	.bodyMenu a:hover {
		color: white;
	}
	.bodyMenu ul li:last-child {
		align-items: center;
		background-color: var(--reynoldsred);
		color: white;
		display: flex;
		justify-content: center;
		list-style: none;
		margin-bottom: 25px;
		padding: 8px;
	}
	.bodyMenu ul li:hover, .bodyMenu a:hover {
		background-color: var(--darkred);
		transition: .2s;
	}
	#sbit-carousel {
		grid-column: 1 / span 4;
	}
	#sbit-carousel .slide {
		height: 320px;
	}
	.content {
		grid-column: 3;
		margin-top: 20px;
	}
	#programs {
		grid-template-columns: 33% 33% 33%;
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: 600px;
	}
	#programs button {
		height: 150px;
		width: 150px;
	}
	#sbit-carousel .slide {
		height: 250px;
	}
}
/*desktop*/
@media (min-width: 1025px) {
    /*header & navigation*/
	header {
		align-items: center;
		background-color: var(--reynoldsred);
		color: white;
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: 120px;
	}
	.logo {
		box-sizing: content-box;
		grid-column: 1;
		grid-row: 1;
		padding: 15px 20px;
		width: 180px;
	}
	#hamburger {
		display: none;
	}
	#megaNav {
		align-self: start;
		display: grid;
		grid-column: 2;
		grid-row: 1;
		height: 100%;
		max-height: fit-content;
	}
	#header-line {
		align-self: start;
		display: block;
		grid-row: 2;
		margin-left: 15%;
		margin-top: 10px;
		opacity: 1;
	}
	#topMenu {
		align-self: start;
		display: block;
		grid-column: 1;
		grid-row: 1;
		margin: 0;
		padding: 10px 15px 0 0;
		text-align: right;
	}
	#topMenu .topLevel {
		background-color: var(--reynoldsred);
        border: 1px solid var(--reynoldsred);
		display: inline-block;
		padding: 4px;
		width: fit-content;
	}
	#topMenu .dropdown {
		display: none;
	}
	#topMenu .topLevel:hover .dropdown {
		background-color: white;
		display: block;
        margin-left: -5px;
		max-height: fit-content;
        padding: 5px 20px 5px 10px;
		position: absolute;
		text-align: left;
        margin-top: 5px;
	}
	#topMenu .dropdown a {
		color: black;
        font-size: .9em;
	}
    #topMenu .dropdown a:hover {
        color: var(--reynoldsred);
        transition: .2s;
    }
    #topMenu .dropdown li {
        padding: 5px;
    }
	#topMenu ul:not(:last-child):after {
		content: "|";
	}
	#topMenu a, #topMenu span {
		font-size: 1.1vw;
	}
	#topMenu a {
		color: white;
		text-decoration: none;
	}
	#topMenu li {
		cursor: pointer;
	}
	#topMenu ul {
		display: inline;
	}
	#topMenu li.topLevel span::after {
		content: "";
		margin-left: 05px;
	}
	#topMenu .menuToggle .topLevel span::after {
		content: '';
	}
	#mainMenu {
		background-color: #ffffff00;
		display: block;
		grid-column: 1;
		grid-row: 3;
		padding: 0px;
		text-align: right;
		margin-right: 10px;
	}	
    #mainMenu ul {
		display: inline;
	}
	#mainMenu li {
		color: white;
		cursor: pointer;
		display: inline;
		list-style: none;
		padding: 15px 5px;
	}
	#mainMenu .dropdown {
        display: none;
	}
    #mainMenu .dropdown li {
        display: list-item;
        padding: 5px;
	}
    #mainMenu .dropdown a {
        font-size: 1em;
    }
    #mainMenu .dropdown a:hover {
        color: var(--reynoldsred);
        transition: .2s;
    }
    #mainMenu .topLevel:hover .dropdown {
		background-color: white;
        box-shadow: 0px 300px 0px 300px #0000005b;
        column-count: 3;
		display: block;
        left: 0;
		max-height: fit-content;
        margin-top: 6px;
        padding: 15px 30px 15px 30px;
		position: absolute;
		text-align: left;
        width: 100%;
	}
	#mainMenu .topLevel span {
		font-size: 1.3vw;
	}
	#mainMenu .topLevel span::after {
		content: '';
		margin-left: 0px;
	}
    #mainMenu .menuToggle .topLevel span::after {
		content: '';
	}
    /*SBIT homepage*/
	#sbit-carousel .slide {
		height: 320px;
	}
	#programs button {
		height: 170px;
		width: 170px;
	}
}